* {
  margin: 0;
  padding: 0;
}

#body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  color: #fff;
  margin-bottom: 1rem;
}

header,
main,
.navbar,
#title,
#experience {
  background-color: #607eaa;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------- NAV AND HEADER -------------- */

#navbar-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #607eaa;
  margin: 0px;
  z-index: 9;
}

#navbar-menu ul {
  max-width: 75%;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 9;
}

#navbar-menu li {
  list-style-type: none;
  font-size: 1rem;
}

#navbar-menu a {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: -1;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 3%;
  right: 10%;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #607eaa 20%,
    #607eaa 40%,
    #fff 40%,
    #fff 60%,
    #607eaa 60%,
    #607eaa 80%,
    #fff 80%,
    #fff 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #607eaa;
  transition: 0.3s;
  padding: 5% 5%;
  box-sizing: border-box;
  text-align: center;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

#sidebar-menu {
  transition: 0.3s;
}

/* -------------- MAIN -------------- */

#title {
  margin-left: 12.5%;
}

#title h3 {
  margin-bottom: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#title,
#bio {
  width: 75vw;
}

#bio-container {
  display: flex;
  flex-direction: row;
}

#bio-container-left,
#bio-container-right {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#bio-container-left {
  flex-direction: column;
  justify-content: flex-start;
}

#bio-container-right {
  flex-direction: row;
  justify-content: center;
}

#headshot {
  border-radius: 50%;
  width: 50%;
}

#experience {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin: 2rem auto 0 auto;
  width: 75vw;
  -ms-grid-columns: 1fr;
}

.experience-job {
  background-color: #607eaa;
  color: #fff;
  border-bottom: 5px solid #f9f5eb;
  line-height: 1.5;
}

.experience-job h2 {
  margin-bottom: 1rem;
}

.experience-job h3 {
  margin: 0.5rem 0;
}

.experience-job h3 {
  color: rgb(220, 220, 220);
}

.experience-job p {
  margin-bottom: 0.75rem;
}

/* -------------- MOBILE-------------- */

@media screen and (max-width: 992px) {
  body {
    background-color: #607eaa;
  }

  header {
    margin-bottom: 7%;
  }

  #title {
    margin: 25% 0 0 12.5%;
    width: 90vw;
  }

  #navbar-menu {
    display: none;
  }

  #hamburger-menu {
    display: inline;
  }

  #bio-container {
    display: flex;
    flex-direction: column;
  }

  #bio-container-left {
    position: relative;
    margin-top: 70%;
  }

  #bio-container-right {
    margin: 2% 10% 0 0;
    position: absolute;
  }

  #headshot {
    width: 60%;
  }
}

/* -------------- CONTACT PAGE -------------- */

.contact {
  margin: 5% 12.5%;
}

.contact h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 10%;
}

.contact-list {
  color: #fff;
}

.social-icons img {
  margin: 5% 8% 5% 0;
  width: 10%;
}
