body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    color: #40514E;
}

p {
    line-height: 1.5;
}

.top-container-right {
    background-color: #E4F9F5;
    text-align: right;
    padding: 20px 40px 0 0;
}

.top-container-left {
    background-color: #E4F9F5;
    padding: 10px 0 40px 40px;
}

.second-container {
    background-color: #F9F9F9;
    padding: 20px 0 40px 40px;
}

.about-me {
    width: 65%;
}

.third-container {
    background-color: #E4F9F5;
    padding: 20px 0 40px 40px;
}

.bottom-container {
    background-color: #F9F9F9;
    padding: 20px 0 40px 40px;
}

.social-media-links {
    background-color: #E4F9F5;
    width: 100%;
    height: 30px;
    padding: 20px 0 0 0;
    text-align: center;
}

h1 {
    color: #40514E;
    margin-top: 0;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    color: #40514E;
}

h3 {
    color: #40514E;
    font-weight: 600;
}

.hr {
    background-color: white;
    border-style: none;
    height: 2px;
    margin: 10px;
    max-width: 60%;
}

.header-link {
    color: #11999E;
    padding: 10px;
}

.title {
    font-size: 1.875rem;
    color: #40514E;
}

#Crossed-swords {
    max-width: 50px;
}

#Dog-emoji {
    max-width: 30px;
}

#jan-headshot {
    margin: -210px 250px 0 0;
    float: right;
    max-height: 500px;
}

.social-icon {
    max-width: 30px;
    padding: 5px;
}