* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#bio-container {
  display: flex;
  flex-direction: row;
}

#bio-container-left {
}

#bio-container-right {
  align-items: center;
  justify-content: center;
}

#headshot {
  border-radius: 50%;
  width: 50%;
}
