* {
  margin: 0;
  padding: 0;
}

#body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  color: #fff;
  margin-bottom: 1rem;
}

header,
main,
.navbar,
#title,
#experience {
  background-color: #454545;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------- NAV AND HEADER -------------- */

#navbar-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #454545;
  margin: 0px;
  z-index: 9;
}

#navbar-menu ul {
  max-width: 75%;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 9;
}

#navbar-menu li {
  list-style-type: none;
  font-size: 1rem;
}

#navbar-menu a {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: -1;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 3%;
  right: 10%;
  width: 45px;
  height: 40px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    transparent 20%,
    transparent 40%,
    #fff 40%,
    #fff 60%,
    transparent 60%,
    transparent 80%,
    #fff 80%,
    #fff 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #454545;
  transition: 0.3s;
  padding: 5% 5%;
  box-sizing: border-box;
  text-align: center;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

#sidebar-menu {
  transition: 0.3s;
  max-height: 300px;
}

/* -------------- HOME MAIN -------------- */

#title {
  margin-left: 12.5%;
}

#title h3 {
  margin-bottom: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#title,
#bio {
  width: 75vw;
}

#bio h2,
#experience h2 {
  font-size: 2rem;
}

#bio-container {
  display: flex;
  flex-direction: row;
}

#bio-container-left,
#bio-container-right {
  display: flex;
  justify-content: center;
  margin-top: 5%;

}

#bio-container-left {
  flex-direction: column;
  justify-content: flex-start;
}

#bio-container-right {
  flex-direction: row;
  justify-content: center;
}

#headshot {
  border-radius: 50%;
  height: 85%;
  width: 50%;
}

#experience {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin: 2rem auto 0 auto;
  width: 75vw;
  -ms-grid-columns: 1fr;
}

.experience-job {
  background-color: #454545;
  border-bottom: 1px solid #ddd;
  color: #fff;
  line-height: 1.5;
  padding-bottom: 15px;
}

.experience-job h2 {
  margin-bottom: 1rem;
}

.experience-job h3 {
  color: rgb(220, 220, 220);
}

/* -------------- PROJECTS -------------- */

body {
  background-color: #454545;
}

.projects {
  background-color: #454545;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 75vw;
  margin-left: 12.5%;
}

.projects p {
  font-size: 1.25rem;
  margin: 3% auto;
}

#project-items-top,
#project-items-mid,
#project-items-bottom {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 530px;
  justify-content: space-between;
  margin: 30px 0;
  max-width: 75vw;
  text-align: center;
}

.project-item {
  border: 1px solid #777;
  border-radius: 3%;
  height: 100%;
  max-width: 33%;
}

.project-item:hover {
  box-shadow: 5px 5px 5px 5px #000;
}

.project-item img {
  margin-bottom: 3%;
}

.project-item p {
  text-align: left;
  width: 90%;
}

.project-item h4 {
  margin: 30px auto
}

.project-item-img-lg {
  max-height: 210px;
}

/* -------------- CONTACT -------------- */

.contact {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin-left: 12.5vw;
  color: #fff;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2% 0;
}

.contact-item {
  margin-top: 1.5vw;
}

.contact-item p {
  margin-top: 0.5vw;
}

/* -------------- SOCIALS -------------- */

.social-icons,
.home-social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 5%;
}

.social-icons img,
.home-social-icons img {
  width: 50px;
  margin: 1vw 3vw 0 0;
}

#tweet-vector {
  margin-top: 25%;
}

/* -------------- MOBILE -------------- */

@media screen and (max-width: 992px) {
  body {
    background-color: #454545;
  }

  header {
    margin-bottom: 7%;
  }

  #title {
    margin: 3rem 0 0 3rem;
    width: 90vw;
  }

  #navbar-menu {
    display: none;
  }

  #hamburger-menu {
    display: inline;
  }

  #bio-container {
    display: flex;
    flex-direction: column;
  }

  #bio-container-left {
    position: relative;
    margin-top: 80%;
  }

  #bio-container-right {
    margin: 2% 10% 0 0;
    position: absolute;
  }

  #headshot {
    margin-top: 10px;
    width: 60%;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .social-icons a {
    text-decoration: none;
    margin-right: 6%;
  }

  .social-icons img {
    margin-right: 4vw;
    width: 35px;
  }

  #tweet-vector {
    margin: 8px 0 0 0;
  }

  .contact {
    margin: 25% 12.5%;
    width: 90vw;
  }

  .contact-list {
    color: #fff;
  }

  .home-social-icons {
    justify-content: center;
    align-items: center;
    margin: 8% 3% 8% 3%;
    width: 75%;
  }

  .home-social-icons a {
    text-decoration: none;
    margin-left: 13%;
  }

  .home-social-icons img {
    width: 35px;
  }

  #social-icons-box {
    width: 75%;
  }
}

/* -------------- PROJECTS PAGE -------------- */

@media screen and (max-width: 992px) {
  .projects {
    margin: 25% 12.5%;
  }

  .projects p {
    color: #fff;
    margin-bottom: 10%;
  }

  .projects h4 {
    color: #fff;
    margin: 5% 0 0 0;
    text-align: center;
  }

  #project-items-top,
  #project-items-mid,
  #project-items-bottom {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .project-item {
    max-width: 100%;
  }

  .project-item-img,
  .project-item-img-lg {
    max-width: 100%;
    margin: 5% 0 5% 0;
  }
}
